
    <div class="carousel-header">{{comments.place}}</div>
    <div class="carousel-body">
        <a href="#" data-id="{{comments.id}}">{{comments.address}}</a>
        <div class="comment">{{comments.text}}</div>
    </div>
    <div class="carousel-footer">{{comments.date}}</div>
